@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@import "compass";
@import "normalize";
@import "animations";

$lightYellow: #feedac;
$yellow: #ffc445;
$orange: #d87319;
$orangeLight: #f4ae74;
$red: #9b4242;
$purple: #633178;
$white: #FFF;
$greyLight: #EDEDED;
$grey: #666;
$greyDark: #333;

@mixin large-time {
	font-size: 1.5em;
	font-weight: 300;
}
@mixin sun-color-gradient($direction: left) {
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient($direction, $purple, $red, $orange, $yellow));
	padding: 1em;
}

body {
	background: $lightYellow image-url("bg.png");
	font-family: 'Open Sans', sans-serif;
	color: $white;
	@include text-shadow(1px 1px 1px rgba($greyDark, 0.65));
}

.sun-info {
	background: $white;
	margin: 10em auto;
	max-width: 36em;
	min-height: 10em;
	padding: 1em;
	width: 80%;

	@include single-box-shadow( rgba($greyDark, 0.1), 0, 0, 0.25em, 0.25em );
	@include border-radius( 0.25em );

	// hide the divs and h1s during loading
	&.loading {

		background: $white image-url("loading.gif") no-repeat center center;

		#loading-message {
			display: block;
		}

		#sunup,
		#sundown {
			display: none;
		}
	}
	#loading-message {
		@include text-shadow(none);
		color: #f4ae74;
		display: none;
		text-align: center;
		margin-top: 7em;
	}
	#sunup,
	#sundown {
		display: block;
		overflow: hidden;

		h1 {
			font-weight: normal;
			font-size: 1.75em;
			margin: 0 0 0.5em;
		}
	}
}

#sunup {
	@include sun-color-gradient("left");
	margin-bottom: 1em;
}
#sundown {
	@include sun-color-gradient("right");
}

#first-light,
#sunrise,
#sunset,
#last-light {
	.time-info,
	 {
		display: block;
	}
	time {
		@include large-time;
	}
}

#first-light,
#sunset {
	float: left;
	width: 50%;
}
#sunrise,
#last-light {
	float: right;
	text-align: right;
	width: 50%;
}